@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>COMP2084 - Lab 2</h1>
    <p class="lead">Lab 2 we are making few changes and making new method to navigate and make new page for catagaory</p>
    <p><a href="https://COMP2084-Lab2" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

